﻿@model List<Student>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">GroupName</th>
                <th scope="col">StudentName</th>
                <th scope="col">Edit Student</th>
                <th scope="col">Delete Student</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
                <tr>
                    <th scope="row">@element.Id</th>
                    <td>@element.Group.Name</td>
                    <td>@element.Name</td>
                    <td><a class="btn btn-warning" asp-controller="Student" asp-action="UpdateStudent" asp-route-id="@element.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
