﻿@model List<Course>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">CourseName</th>
                    <th scope="col">Chose course</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model) 
                {
                    <tr>
                        <th scope="row">@element.Id</th>
                        <td>@element.Name</td>
                        <td><a class="btn btn-warning" asp-controller="Group" asp-action="GetGroup" asp-route-id="@element.Id">Select</a></td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>

