﻿@model List<Group>


<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">CourseName</th>
                <th scope="col">GroupName</th>
                <th scope="col">Chose Group</th>
                <th scope="col">Edit Group</th>
                <th scope="col">Delete Group</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
            <tr>
                <th scope="row">@element.Id</th>
                <td>@element.Course.Name</td>
                <td>@element.Name</td>
                <td><a class="btn btn-warning" asp-controller="Student" asp-action="GetStudent" asp-route-id="@element.Id">Select</a></td>
                <td><a class="btn btn-warning" asp-controller="Group" asp-action="UpdateGroup" asp-route-id="@element.Id">Edit</a></td>
                <td><a class="btn btn-warning" asp-controller="Group" asp-action="DeleteGroup" asp-route-id="@element.Id">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
